<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu" align="center">
    <a href="./clients">Клиенты</a>
    <a href="./storage">Склад</a>
    <a href="./orders">Список транзакций за период</a>
    <a href="./top">топ</a>
</div>
<h1 align="center">ТОП с 2018-09-08 по 2018-09-11</h1>
<table border="1" align="center">
    <tr>
        <td>ИМЯ</td>
        <td>Сумма</td>
    </tr>
    {{#top}}
    <tr>
        <td>{{client}}</td>
        <td>{{count}}</td>
    </tr>
    {{/top}}
</table>
</body>
</html>